extends layout

block content
  br
  h4
    img.profile-avatar(src=user.avatar)
    span.text-muted(style="font-weight: 300;")=` ${user.username}'s profile`
  br
  if (isLoggedIn && isLoggedIn.username == user.username)
    p
      span=` Your pins (${user_pins.length})`
      a(href=`/users/edit/pins/${user.username}`)
        button.btn.btn-secondary.btn-sm(style="float: right;")
          i(class="fas fa-edit")
          span=" Edit"   
  else
    p=`${user.username}'s pins (${user_pins.length})`
  hr
  div(class="col-lg-6 row" style="border: 0px solid red;")
    each user_pin in user_pins
      div(class="col-lg-2" style="border: 0px solid cyan; text-align: center; padding: 3px;")
        table(border="0px" width="100%" height="100%")
          tr
            td(width="50%" height="55px")
              a(href="/")
                img.img-profile-user-pins(src=user_pin.imageUrl)
          tr
            td(width="50%")
              a(href="/")
                if (user_pin.description.length > 15)
                  p.profile-pin-description=user_pin.description.substr(0, 15) + '...'
                else
                  p.profile-pin-description=user_pin.description
  br
  if (isLoggedIn && isLoggedIn.username == user.username)
    p
      span=` Your favourites (${favourites.length})`
      a(href=`/users/edit/favourites/${user.username}`)
        button.btn.btn-secondary.btn-sm(style="float: right;")
          i(class="fas fa-edit")
          span=" Edit"
      
  else
    p=`${user.username}'s favourites (${favourites.length})`
  hr
  div(class="col-lg-6 row" style="border: 0px solid red;")
    if (favourites.length > 0)
      each favourite in favourites
        div(class="col-lg-2" style="border: 0px solid cyan; text-align: center; padding: 3px;")
            table(border="0px" width="100%" height="100%")
              tr
                td(width="50%")
                  a(href="/")
                    img.img-profile-favourites(src=favourite.imageUrl)
              tr
                td(width="50%")
                  a(href="/")
                    if (favourite.description.length > 15)
                      p.profile-favourite-description=favourite.description.substr(0, 15) + '...'
                    else
                      p.profile-favourite-description=favourite.description
    else
      p.profile-favourite-description.text-muted=`No favourites yet.`