extends layout

block content
  h1="SUPER SECRET"
  p PROFILE
  p=user.username
  p=user.githubId
  b="Your pins"
  each user_pin in user_pins
    a(href="/")
      p=user_pin.description
  br
  b="Your favs"