extends layout

block content
  div(style="display: none;" id="pins-notice" class="pins-notice")
    p(class="pins-notice-text").text-muted="No pins in this category"
  form(class="refine-pins-form" action="/" method="POST")
    div.col-lg-8.row
      div.col-lg-4
        label(style="font-size: 80%;" for="refineCategory")="Pins by category: "
        select(id="refine-genre-select" name="refineCategory" onchange="refineGrid()").form-control
          each genre in genres
            option=genre.name
      div.col-lg-6
        label(style="font-size: 80%;" for="refineUser")="Pins by user: "
        select(id="refine-user-select" name="refineUser" onchange="refineGrid()").form-control
          each user_instance in users
            if(user_instance.username == user)
              option(selected)=user_instance.username
            else
              option=user_instance.username
        script.
          const opt = document.createElement('option');
          opt.appendChild( document.createTextNode('All') );
          document.getElementById('refine-user-select').appendChild(opt);
          setTimeout(() => {
            refineGrid();
          }, 100);
          
  hr
  if (pins)
    .grid
      .grid-sizer
      each pin in pins
        if (user)
        .grid-item(id=pin.id)
          img(onerror="defaultImage(this)" data-toggle="modal" data-target="#pin-modal" src=`${pin.imageUrl}` alt=`${pin.description}-${pin.userInfo}` onclick="updateModal(this)")
          p(style="padding: 0; margin: 0; margin-bottom: -5px !important;")=pin.description
          small.text-muted(style="padding: 0; margin: 0; margin-bottom: -5px !important;")
            i.fas.fa-thumbtack
            span=` ${pin.genreInfo}`
          br
          small
            span(class="text-muted")="Pin by "
            a(href=`/users/profile/${pin.userInfo}`)=pin.userInfo
          if (isLoggedIn)
            if (pin.savedBy.includes(user._id))
              form(action=`/pins/save/${pin.id}` method="post" id=`formsave-${pin.id}`)
                button(id=`btnsave-${pin.id}` class="pin-save btn btn-dark" onclick="togglePinSave(event)" type="submit")
                  span="Unsave "
                  i.fas.fa-heart(id=`i-${pin.id}` style="font-size: 20px;")
            else
              form(action=`/pins/save/${pin.id}` method="post" id=`formsave-${pin.id}`)
                button(id=`btnsave-${pin.id}` class="pin-save btn btn-dark" onclick="togglePinSave(event)" type="submit")
                  span="Save "
                  i.far.fa-heart(id=`i-${pin.id}` style="font-size: 20px;")
          div(class="pin-link-external btn btn-sm btn-dark" style="border-radius: 1rem; opacity: 0.9;")
            a(href=`${pin.imageUrl}` target="_blank" class="text-light")
              i.fa.fa-arrow-right
              span=" Link"
    include includes/modal.pug
  else
    p="No pins to display"
  