extends layout

block content

  br
  a(href=`/users/profile/${user.username}`)
    button.btn.btn-secondary.btn-sm
      i.fas.fa-chevron-left
      span=" Back to profile"
  br
  br
  p="Edit your pins:"
  table.col-lg-12.table.table-striped(border="0px")
    thead
      tr
        th.text-center="Pin"
        th.text-center="Remove"
    tbody