extends layout
block content
  br
  a(href=`/users/profile/${user.username}`)
    button.btn.btn-dark.btn-sm
      i.fas.fa-chevron-left
      span=" Back to profile"
  br
  if (favourites.length >= 1)
    br
    p="Edit your favourites:"
    table.col-lg-8.table.table-striped(id="favourites-table")
      thead
        tr
          th.text-center="Index"
          th.text-center="Favourite"
          th.text-center="Remove"
      tbody
        each favourite, index in favourites
          tr(id=`tr-${index}`)
            td
              p.text-center=index + 1
            td(class="profile-td-left-column")
              div(class="profile-div-left-column")
                if (favourite.description.length > 20)
                  p(class="profile-td-p")=favourite.description.substr(0, 20) + '...'
                else
                  p(class="profile-td-p")=favourite.description
                img(src=favourite.imageUrl class="profile-td-img")
            td(class="profile-td-right-column")
              div(class="profile-div-right-column" id=`wrapper-${favourite.id}`)
                button.btn.btn-danger(onclick="removeFavourite(event)" id=`pindelete-${favourite.id}`)
                  i.fa.fa-trash-alt(id=`idelete-${favourite.id}`)
  else
    br
    p="No favourites yet."